.map-div {
    height: 500px;
    width: 100%;
    /* ارتفاع پیش‌فرض برای سایزهای بزرگتر */
}

@media (max-width: 767px) {

    /* برای صفحه‌نمایش‌های کوچک‌تر از 768 پیکسل */
    .map-div {
        height: 300px;
        /* ارتفاع مخصوص موبایل */
    }
}