.input {
    width: 100%;
    color: #fff !important;
    background-color: #4a4848a6 !important;
    padding: 5px !important;
    font-size: large !important;
}

:where(.css-dev-only-do-not-override-143w3hu).ant-select-single {
    min-height: 40px !important;
}
:where(.css-dev-only-do-not-override-143w3hu).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
background-color: #4a4848a6 !important;
}

:where(.css-dev-only-do-not-override-143w3hu).ant-select-single .ant-select-selector .ant-select-selection-search {
color: white !important;
}
:where(.css-dev-only-do-not-override-143w3hu).ant-select-single .ant-select-selector {
 color: white !important;   
}
:where(.css-dev-only-do-not-override-143w3hu).ant-select-single .ant-select-selector .ant-select-selection-item,
:where(.css-dev-only-do-not-override-143w3hu).ant-select-single .ant-select-selector .ant-select-selection-placeholder
{
    text-align: start !important;
    color: white !important;
}


.custom-dropdown {
    background-color: #6f6e6e42 !important; /* rgba(5, 5, 5, 0) !important; */
    /* رنگ سیاه با شفافیت کمتر */
}

.custom-dropdown .ant-select-item {
    color: #000;
    /* رنگ متن */
}

.custom-dropdown .ant-select-item:hover {
    background-color: rgba(89, 74, 74, 0.063);
    /* رنگ پس‌زمینه هنگام 'hover' */
}